<div class="quiz-form__image-container">
    <img src="https://i2-prod.hulldailymail.co.uk/news/celebs-tv/article3514173.ece/ALTERNATES/s1200d/1_Gordon-Ramsay-tattoo.jpg" alt="Tattoo here" class="quiz-form__image">
</div>
<div class="quiz-form__image-container">
    <img src="https://i2-prod.hulldailymail.co.uk/news/celebs-tv/article3514173.ece/ALTERNATES/s1200d/1_Gordon-Ramsay-tattoo.jpg" alt="Tattoo here" class="quiz-form__image">
</div>
<div class="quiz-form__image-container">
    <img src="https://i2-prod.hulldailymail.co.uk/news/celebs-tv/article3514173.ece/ALTERNATES/s1200d/1_Gordon-Ramsay-tattoo.jpg" alt="Tattoo here" class="quiz-form__image">
</div>