// Specific CSS for your home-page
.container {
    padding: 50px;
    margin: 0px auto;
    color:white;
    max-width: 1511px;
}

.center {
  text-align: center;
}

body {
  color: white;
}

h1 {
  color: white;
}
