.home-page {
    $this: &;
    position: relative;
    padding-left: 72px;
    padding-top: 36px;

    &__welcome {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }


    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &__message {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 14px;

    }

}

.home-booking-card {
    $this: &;


    &__avatar {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
}



.dash-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.request-container {
    
}

.request-card {
    $this: &;
    color: white;
    display: flex;


    &__info-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__image-container {
        flex-shrink: 0;
        width: 200px;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__description-container {
        display: flex;
        flex-direction: column;
    }
}

