.main-dashboard-container {
  width: 1200px;
  height: 1000px;
  margin-left: 72px;
  background-color: red;
  margin-left: 220px;
}

.user-welcome {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-intro {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.user-intro > h1 {
  margin: 0px 8px 0px 8px;
}

.user-intro > p {
  margin: 4px 8px 0px 8px;
}

.home-page__avatar {
  height: 70px;
  width: 70px;
}


.bookings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;

}

h3 {
  margin-left: 8px;
  margin-top:8px;
  font-size:18px;
}

.column-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 10px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.column-top > p {
  margin-bottom: 4px;
  margin-top: 4px;
}


.upcoming-bookings-container {
  background-color: grey;
  width: 45%;
  height: 300px;
  border-radius: 3%;

}

.upcoming-bookings-list {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.confirmed-booking-details {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 10px;
  justify-items: center;
  align-items: center;
}

.confirmed-booking-details:hover {
  background-color: lightgrey;
}

.confirmed-booking-details > p {
  margin-bottom: 0px;
}

.confirmed-booking-client {
  display: flex;
  flex-direction: row;
}

.confirmed-booking-client > p {
  margin-bottom: 0px;
}

.confirmed-booking-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmed-booking-date > p {
  margin-bottom: 0px;
  font-size: 12px;
}

.pending-bookings-container {
  background-color: grey;
  width: 45%;
  height: 300px;
  border-radius: 3%;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35px;
}

.requests-container {
  background-color: grey;
  width: 55%;
  height: 300px;
  border-radius: 3%;

}

.messages-container {
  background-color: grey;
  width: 35%;
  height: 300px;
  border-radius: 3%;
}

.far.fa-plus-square {
  font-size: 20px;
}

.far.fa-plus-square:hover {
  color: black;
}
