.main-dashboard-container {
  width: 1200px;
  height: 1000px;
  margin-left: 115px;
}

.user-welcome {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 45px;
}

.user-intro {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.user-intro > h1 {
  margin: 0px 8px 0px 8px;
}

.user-intro > p {
  margin: 4px 8px 0px 8px;
}

.home-page__avatar {
  height: 70px;
  width: 70px;
  object-fit: cover;
}


.bookings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;

}

h3 {
  margin-left: 8px;
  margin-top:8px;
  font-size:18px;
}

.column-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0px 10px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.column-top > p {
  margin-bottom: 4px;
  margin-top: 4px;
}

.confirmed-booking-container {
        $this: &;

        &__details {
          margin-bottom: 0px;
          display: flex;
          justify-content: center;
          width: 100%;
        }

        &__name {
          display: flex;
          width: 100%;
          justify-content: left;
        }
}


.upcoming-bookings-container {
  box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
  width: 45%;
  height: 328px;
  border-radius: 3%;

}

.upcoming-bookings-list {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  overflow: scroll;
}

.confirmed-booking-details {
        $this: &;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 0px 10px;
        justify-items: center;
        align-items: center;

        &__name {
          display: flex;
          width: 100%;
          justify-content: center;
        }

        &__detail {
          margin-bottom: 0px;
          display: flex;
          justify-content: center;
          width: 100%;
        }

        &__descr {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        &__image-container {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
        }

        &__image {
          width: 100%;
          height: 100%;
          crop: fit;
        }

        &__descr {
          display: flex;
          justify-content: center;
          text-align: center;
        }
}

.confirmed-booking-container__name {
  justify-content: center;
}


.confirmed-booking-details:hover {
  box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.8);
}

.confirmed-booking-details > p {
  margin: 0px;
  }

.upcoming-bookings-container  {
      $this: &;


      &__details {
          margin-bottom: 0px;
          display: block;
          justify-content: center;
          width: fit-content;
      }
}

.confirmed-booking-client {
  display: flex;
  flex-direction: row;
}

.confirmed-booking-client > p {
  margin-bottom: 0px;
}

.confirmed-booking-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmed-booking-date > p {
  margin-bottom: 0px;
  font-size: 12px;
}

.pending-bookings-container {
  box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
  width: 45%;
  height: 328px;
  border-radius: 3%;
  overflow: hidden;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35px;
}

.requests-container {
  box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
  width: 55%;
  height: 386px;
  border-radius: 3%;
  overflow: hidden;
}

.messages-container {
  box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
  width: 35%;
  height: 386px;
  border-radius: 3%;
  padding: 16px
}

.far.fa-plus-square {
  font-size: 20px;
}

.far.fa-plus-square:hover {
  color: black;
}

.confirmed-booking-details__image {
  width: 60px;
  text-align: center;
}
