<div class="popup-content">
  <div class="popup-avatar">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/MartinDE8" />
  </div>
  <div class="popup-info">
    <h2><%= artist.nickname %></h2>
    <p><%= artist.style %></p>
  </div>
</div>

