<h1>Artists index</h1>

<div class="artist-container">
  <% if @users.nil? %>
    <p>No User found</p>
  <% else %>
    <% @users.artist.each do |artist| %>
    <div class="artist-card">
      <div class="artist-card__info-container">
        <div class="artist-card__image-container">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="artist-card__image" />
        </div>
        <div class="artist-card__info">
          <div class="artist-card__description">
           <h2><%= artist.first_name %></h2>
           <p><%= artist.bio %></p>
         </div>
         <div class="artist-card__avatar-container">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="artist-card__avatar" />
            <span class="artist-card__price">£<%= artist.price  %>/hour</span>
          </div>
        </div>
      </div>
    </div>
   <% end %>
  <% end %>
</div>
