
<div class="home-footer">
    <div class= "inline footer-width">
      <h2 class="underline">Social Media</h2>
       <div class="footer-social">
        <a href="#"><i class="fab fa-facebook icon-color no-pad"></i></a>
        <a href="#"><i class="fab fa-instagram icon-color"></i></a>
        <a href="#"><i class="fab fa-twitter icon-color"></i></a>
        <a href="#"><i class="fab fa-youtube icon-color"></i></a>
      </div>

      <ul class="style-list list-inline list-middot">
        <li>
          <a href="#" class="list-link">Events</a>
        </li>
        <li>
        <%= link_to "Gallery", galleries_path , class: "list-link list-link-padding-left" %>
        </li>
        <li>
          <a href="#" class="list-link list-link-padding-left">About</a>
        </li>
      </ul>
    </div>
      <div class = "footer-section about footer-width">
      <h2 class="logo-text underline">About</h2>
      <p class="home-about">
        InkFinder is a hub for tattoo enthusiasts which brings together both artists and clients alike. From first time buyers to seasoned pros, there is only one place to go for finding the perfect piece of art.
        Founded in 2020 by Fakhri Aslan and his friends, InkFinder is sure to be the next big thing in tattoos.
      </p>
      <div class="footer-copyright">
       Designed by the boys who brought you Rent-My-Ride <i class="fas fa-heart"></i>
      </div>
    </div>

    <div class="footer-section contact-form footer-width">
      <h2 class="underline">Contact us</h2>
      <form action="home.html" method="post">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
          <label for="name" class="form__label"></label>
        </div>
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Message" name="message" id='message' required />
          <label for="message" class="form__label"></label>
        </div>
        <button type="submit" class="btn from-center home-send-button">
          Send
        </button>
      </form>
    </div>
  </div>
