<div class="usernavba-container">
    <div class="user-nav">
        <ul class="user-nav__list">
            <li class="user-nav__link"><%= link_to 'Requests', user_requests_path(current_user), class: "btn btn-primary" %></li>
            <li class="user-nav__link"><%= link_to 'Bookings', user_bookings_path(current_user), class: "btn btn-primary" %></li>
            <li class="user-nav__link"><%= link_to 'Portfolio', user_path(current_user), class: "btn btn-primary" %></li>
            <li class="user-nav__link">Messages</li>
            <li class="user-nav__link"><%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-primary" %></li>
        </ul>
    </div>
</div>
