<div class="container">
  <div class="welcome text center">
  <h1 class="upper">Welcome to InkFinder</h1>
  <h3 class="upper">Your tattoo journey begins here.</h3>

<div class="wrapper">
  <%= link_to "Take a quiz!", new_quiz_path, class: 'btn from-center' %>
  <% if current_user %>
    <%= link_to "Find an artist", users_path, class: 'btn from-center'%>
  <% else %>
    <%= link_to "Make an artist", users_path, class: 'btn from-center' %>
  <% end %>
</div>
    <%= link_to styles_path do %>
    <div class="pic-ctn">
      <img src="https://i.ibb.co/t3DLpVL/photo-1475695752828-6d2b0a83cf8a.jpg" alt="" class="pic">
      <img src="https://i.ibb.co/xL0t935/photo-1510362753328-028a0e6b0e9b.jpg" alt="" class="pic">
      <img src="https://i.ibb.co/5xFfWwX/photo-1552627019-947c3789ffb5.jpg" alt="" class="pic">
      <img src="https://i.ibb.co/WcFb0cf/photo-1565058379802-bbe93b2f703a.jpg" alt="" class="pic">
    </div>
    <% end %>
</div>
</div>

<div class="footer">
  <div class="footer-content">

  <div class = "footer-section about">
    <h1 class="logo-text"><span>InkFinder</span>.Design</h1>
    <p>
      InkFinder is a hub for tattoo enthusiasts to come together to really create something special!
      Founded in 2020 by Fakhri Aslan and his close buddies, InkFinder is sure to be the next big thing in tattoos.
    </p>
  </div>


 <div class= "footer-links"></div>
    <h2>Quick links</h2>
    <br>
    <ul>
      <a href="#""><li>Events</li></a>
      <a href="#""><li>Gallery</li></a>
      <a href="#""><li>Terms & Conditions</li></a>
    </ul>
  </div>



  <div class="footer-social"></div>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>

<div class="footer-section contact-form">
      <h2>Contact us</h2>
      <br>
      <form action="home.html" method="post">
      <input type="email" name="email" class="text-input contact-input" placeholder="Your email address..">
      <textarea name="message" class="text-input contact-input" placeholder="Your message.."></textarea>
      <button type="submit" class="btn btn-big">
        Send
      </button>
    </form>
  </div>
      <span> 07892906688; </span>
        <span> joey8595@hotmail.co.uk; </span>

      </div>

    </div>

<div class="footer-bottom">
  &copy; InkFinder.design | Designed by the boys who brought you Rent-my-ride
</div>
</div>





