<div class="container">
  <div class="welcome text center">
    <h1 class="upper">Welcome to InkFinder</h1>
    <h3 class="upper">Your tattoo journey begins here.</h3>


    <%= link_to "Your next tattoo", new_quiz_path, class: 'btn from-center home-page-btn-margin' %>
    <% if current_user %>
      <%= link_to "Search artists", users_path, class: 'btn from-center home-page-btn-margin'%>
    <% else %>
      <%= link_to "Search an artist", users_path, class: 'btn from-center home-page-btn-margin' %>
    <% end %>

</div>
    <%= link_to styles_path do %>
      <div class="pic-ctn">
        <img src="https://i.ibb.co/t3DLpVL/photo-1475695752828-6d2b0a83cf8a.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/xL0t935/photo-1510362753328-028a0e6b0e9b.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/5xFfWwX/photo-1552627019-947c3789ffb5.jpg" alt="" class="pic">
        <img src="https://i.ibb.co/WcFb0cf/photo-1565058379802-bbe93b2f703a.jpg" alt="" class="pic">
      </div>
    <% end %>
</div>

<div class="container home-text">
  <p>
    InkFinder facilitates your tattoo journey with personalized inspiration and guidance finding the right artist for a tattoo you won't regret!
  </p>
</div>

<div class="above-footer">
  <div class="above-footer-card">
    <i class="far fa-question-circle"></i>
    <h4>Take the quiz</h4>
    <p>And define your tattoo style!</p>
  </div>
  <i class="fas fa-chevron-right"></i>
  <div class="above-footer-card">
    <i class="fas fa-search-location"></i>
    <h4>Find artists near you</h4>
    <p>And design your dream tattoo!</p>
  </div>
  <i class="fas fa-chevron-right"></i>
  <div class="above-footer-card">
    <i class="fas fa-user-check"></i>
    <h4>Book a slot</h4>
    <p>And make your dream comes true!</p>
  </div>
</div>

<div class="footer-minimal">
  <ul class=footer-ul>
    <li><a class="links-footer" href="https://twitter.com/julesforrest">About</a></li>
    <li><a class="links-footer" href="https://codepen.io/julesforrest">Instagram</a></li>
    <li><a class="links-footer" href="mailto:aslan.ov@outlook.com">Email</a></li>
    <li><a class="links-footer" href="https://github.com/aslan-378">Github</a></li>
  </ul>
</div>









