
<div class="container center">
  <h1>InkFinder</h1>
  <p>Your tattoo journey begins here.</p>

  <%= link_to "Take a quiz!", new_quiz_path, class: 'btn from-center' %>
  <% if current_user %>
    <%= link_to "Make a request", new_user_request_path(current_user), class: 'btn from-center'%>
  <% else %>
    <%= link_to "Make a request", new_user_session_path, class: 'btn from-center' %>
  <% end %>
</div>








