<div class="container">
      <% @styles.each do |style| %>
      <div class="card-product pt-2">
      <%= link_to style do %>
      <img src="https://i.ibb.co/NsjwrZQ/da2f5fb9c4fac73110094dc8ecb5b87f.jpg" />
      <% end %>
      <div class="card-product-infos">
      <h2><%= style.name %></h2>
      </div>
      </div>
    <% end %>
</div>
