<div class="container">
  <h2><%= @style.name %></h2>
  <p><%= @style.description %></p>
  <div class="container center">
    <%= link_to "go back", styles_path, class: "btn btn-outline-light" %>
    <%= link_to "search artists", users_path(query: @style.name), class: "btn btn-outline-light" %>
  </div>
</div>

