.search-map {
    $this: &;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-radius: 5px;


    &__container {
      height: 145px;
      width: 100%;
      padding-top: 20px;
    }

    &__filters {
      margin-top: 15px;

    }

    &__filter {
      padding: 10px;

    }
}

body {
  background-color: #040F0F;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 8px;
  margin-top: 48px;
  margin-bottom: 32px;
}



.artist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 24px;
  margin: 0px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card-trip > img {
  height: 168px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: 1;
  margin: 0;
  color: black;
  margin-bottom: 5px;
}

.card-trip-infos {
  height: 70px;
  color: black;
}

.card-trip .card-trip-infos {
  padding: 22px;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -40px;
  width: 72px;
  height: 72px;
}

.artist-see-more h2 {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 12px;
}

.artist-see-more > img {

}



