.btn {
  position: relative;
  font-size: 1.4rem;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  text-shadow: black;

}

.btn-small {
    padding: .7rem 1.6rem;
    line-height: 1.3rem;
    /* background-color: #8D918D; */
    border: solid 1px white;
}

.home-page-btn-margin {
  margin: 10px 40px;
}
.btn:before, .btn:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
  text-shadow: black;
}

.btn:hover {
  color: black;
  transition-delay: .1s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: white;
  transition-delay: .1s;
  text-shadow: black;
}

.from-center:before {
  top: 0;
  left: 30%;
  height: 100%;
  width: 0;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
}

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: white;
  text-shadow: black;
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
  text-shadow: black;
}
*, *:before, *:after {
  box-sizing: border-box;
  text-shadow: black;
}

#btn-submit:hover:after {
  background: white;
  transition-delay: .1s;
  text-shadow: black;
}

//social buttons

.center-button {
  display: table;
  width: 100%;
  height: 100vh;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }
  .social {
    padding-left: 0px;
  }
  li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}


