.user-chatroom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages-card-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: 0 auto;
    padding: 16px;
    box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
    border-radius: 5px;
}

.messages-card-container {
    width: 90%;
    margin-bottom: 10px;

}

.messages-card {
    $this: &;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.7);
    border-radius: 5px;
    margin: 14px 0px; 
    text-decoration: none!important;

    &__title {
        margin: 0px;
        margin-bottom: 10px;
    }

    &__name {
        font-weight: bold;
        font-size: 18px;
        color: darkgrey;
    }

    &__content {
        font-style: italic;
        padding-left: 6px;
        color: white;
    }

    &__form {
        width: 80%;
    }

    &__buttons {
        display: flex;
        width: 75%;
        margin: 0px auto;
        padding: 24px;
        justify-content: space-between;
    }

    &__button {
        box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.3);
        padding: 13px 0px;
        text-decoration: none!important;
        border-radius: 5px;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        

        &:hover {
            box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.7);
            color: black;
        }
    }

    &__but {
        display: flex;
        justify-content: center;
        width: 120px;
    }

}

.message-card {
    $this: &;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
    border-radius: 5px;
    margin-top: 6px;
    height: 55px;
    text-decoration: none!important;

    &:hover {
        box-shadow: inset 0px 0px 109px -28px rgba(255, 255, 255, .8);
    }

    &__title {
       
    }

    &__content {
        color: white;
        padding-left: 12px;
        padding-top: 3px;
        font-size: 12px;
        font-style: italic;
        padding-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__name {
        color: white;
        font-size: 14px;
        padding-left: 8px;
        padding-top: 8px;
        font-weight: bold;
    }
}

.chatroom-card {
    $this: &;
    display: flex;
    text-decoration: none!important;
    padding: 16px;
    box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.4);
    border-radius: 5px;
    margin: 12px auto;
    width: 50%;

    &:hover {
        box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.9);
    }

    &__title {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__content {
        color: white;
        padding-left: 12px;
        padding-top: 3px;
        font-size: 12px;
        font-style: italic;
        padding-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__name {
        color: white;
        font-size: 18px;
        padding-left: 8px;
        font-weight: bold;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        width: 90%;
    }

    &__button {
        box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.3);
        padding: 13px;
        text-decoration: none!important;
        border-radius: 5px;
        color: white;


        &:hover {
            box-shadow: inset 0px 0px 109px -28px rgba(255,255,255,.7);
            color: black;
        }
    }
}